{:paths ["src" "resources"]
 :deps
 {ring/ring-core {:mvn/version "1.8.2"},
  ring/ring-jetty-adapter {:mvn/version "1.8.2"},
  ring-cors/ring-cors {:mvn/version "0.1.13"},
  metosin/reitit {:mvn/version "0.5.9"},
  metosin/muuntaja {:mvn/version "0.6.7"},
  seancorfield/next.jdbc {:mvn/version "1.1.610"}
  org.postgresql/postgresql {:mvn/version "42.2.18"}
  ragtime/ragtime {:mvn/version "0.8.0"}
  juxt/clip {:mvn/version "0.20.0"}}
 :aliases
 {:depstar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}}
  :dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/tools.namespace {:mvn/version "1.0.0"}}}}}
